/Exercises/0.4/MakeUppercase/build/
/Exercises/0.4/Encrypt/nbproject/private/
/Exercises/0.4/AddPairs/nbproject/private/
/Exercises/0.4/AddPairs/build/
/Exercises/0.4/Encrypt/build/
/Exercises/0.4/PasswordCheck/nbproject/private/
/Quiz1/nbproject/private/
/Quiz1/build/
/Arrays/nbproject/private/
/Exercises/Arrays/nbproject/private/
/Exercises/Arrays/build/
/Lessons/ArraysLesson/nbproject/private/
/Exercises/ArraysExercises/nbproject/private/
/Exercises/ArraysExercises/build/
/Lessons/ArrayListsLesson/nbproject/private/
/Exercises/2DArraysExercises/nbproject/private/
/Exercises/2DArraysQ2/nbproject/private/
/Lessons/2DArraysLesson/nbproject/private/
/Lessons/Arrays2D/nbproject/private/
/Exercises/Arrays2DExercises/nbproject/private/
